
/* BEGIN globals */
div.clear {
  clear: both;
  height: 0;
  width: auto;
  overflow: hidden;
}
/* END globals */

/* BEGIN theme overrides */
input.submit, input.reset, .link-btn, .more-link, .pagination a, .pagination .current, #cancel-comment-reply-link, .comment-reply-link, #older-comments a, #newer-comments a {
  padding-bottom: 4px;
}
#header .inner {
  height: 70px;
  padding-bottom: 0;
  margin-bottom: 0;
}
#header .text-logo {
  bottom: 0;
  display: block;
  background: url(/assets/logo01.png);
  width: 205px;
  height: 70px;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
}
#top-nav {
  bottom: 40px;
}
#main-nav {
  bottom: 0;
}
.main-nav-subnav {
  padding: 0;
}
.subnav-list {
  border-top: none;
  line-height: 1.15em;
}
.subnav-list li {
  border-bottom: none;
}
.subnav-list a {
  padding: 9px 10px;
}
.subnav-list .menu-item:first-child a {
  padding-top: 13px;
}
.subnav-list .menu-item:last-child a {
  padding-bottom: 14px;
}
.subnav-list a:hover, .subnav-list a:active, .subnav-list > .item-hover a {
  background-color: #5c7b99;
}
.subnav-list a.has-subnav {
  background-image: url(/assets/arrow-list-o10.png);
  background-repeat: no-repeat;
  background-position: right 13px;
}
/* END theme overrides */


.ace-verse {
  font-family: georgia,serif;
  font-style: italic;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  margin: 0.2em 1em;
}
.ace-verse-body {
}
.ace-verse-ref {
}
.ace-verse-ref:before {
  padding-left: 0.2em;
  content: '- ';
}


.sidebysideimgs {
}
.sidebysideimgs img {
  display: block;
  background: #fff;
  border: 1px solid #d6d6d6;
  padding: 4px;
  float: left;
}
.grid-2 .sidebysideimgs img {
  /* 300 */
  width: 136px;
}
.grid-2 .sidebysideimgs img:nth-child(1) {
  margin-right: 8px;
}
.grid-3 .sidebysideimgs img {
  /* 461 */
  width: 212px;
}
.grid-3 .sidebysideimgs img:nth-child(1) {
  margin-right: 16px;
}
.grid-4 .sidebysideimgs img {
  /* 622 */
  width: 290px;
}
.grid-4 .sidebysideimgs img:nth-child(1) {
  margin-right: 22px;
}
.grid-5 .sidebysideimgs img {
  /* 783 */
  width: 370px;
}
.grid-5 .sidebysideimgs img:nth-child(1) {
  margin-right: 22px;
}
.grid-6 .sidebysideimgs img {
  /* 944 */
  width: 451px;
}
.grid-6 .sidebysideimgs img:nth-child(1) {
  margin-right: 22px;
}


.mw-widget-follow a.instagram {
  background: url(/assets/icon-instagram-32.png) no-repeat;
}




.ace-instagram {
}
.ace-instagram-img
,.ace-instagram-img-img {
  display: block;
  margin: 0;
  padding: 0;
}
.ace-instagram.shadbox_enabled .ace-instagram-img-img {
  cursor: pointer;
}

.ace-instagram.type-squares .ace-instagram-img {
  float: left;
}
.ace-instagram.type-med .ace-instagram-img
,.ace-instagram.type-med .ace-instagram-img-img {
  width: 124px;
  height: 124px;
}



.ace-carousel {
  position: relative;
}
.ace-carousel-mask {
  overflow: hidden;
  position: relative;
}
.ace-carousel-slide_cont {
  position: relative;
}
.ace-carousel-slide {
  position: absolute;
  left: 0;
  top: 0;
}
.ace-carousel-arr {
  position: absolute;
  top: 0;
  width: 54px;
  height: 100%;
  background: url(/assets/car_arrows.png) no-repeat;
  cursor: pointer;
}
.ace-carousel-arr-left {
  left: 0;
  background-position: 1px center;
}
.ace-carousel-arr-right {
  right: 0;
  background-position: -58px center;
}
.ace-carousel-arr-left:hover {
  background-position: -119px center;
}
.ace-carousel-arr-right:hover {
  background-position: -178px center;
}
.ace-carousel-img {
  overflow: hidden;
  position: absolute;
  top: 0;
  background: #fff;
  border: 1px solid #d6d6d6;
  padding: 4px;
  margin: 0 1px;
}
.ace-carousel-img.is-loading {
  background: url(/assets/loader02.gif) no-repeat center center;
}
.ace-carousel-img-wrap {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.ace-carousel-img-img {
  position: absolute;
  display: block;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}
.ace-carousel.shadbox_enabled .ace-carousel-img-img {
  cursor: pointer;
}





.ace-shadbox {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999; /* menu items also at 999 :/ */
  cursor: pointer;
}
.ace-shadbox-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
}
.ace-shadbox-content {
  position: fixed;
  width: 100px;
  height: 100px;
  background: #000 no-repeat center center;
}
.ace-shadbox-content.loading {
  background-image: url(/assets/shadbox-loading.gif);
}
.ace-shadbox-content.error {
  width: 58px;
  height: 58px;
  background-image: url(/assets/shadbox-error.png);
}
.ace-shadbox-content img {
  width: 100%;
  height: 100%;
}
.ace-shadbox-close {
  position: absolute;
  right: -16px;
  top: -16px;
  display: block;
  width: 20px;
  height: 20px;
  background: url(/assets/shadbox-close.png) no-repeat center center;
}


.ace-twitter {
}
.ace-twitter-tweets_cont {
  overflow: hidden;
  position: relative;
}
.ace-twitter-tweet {
  font-size: 12px;
  line-height: 1.6;
  overflow: hidden;
  /* use wrap-inner2 for styling */
  margin: 0 !important;
  padding: 0 !important;
  float: left;
}
.ace-twitter-tweet-wrap {
  /* use wrap-inner2 for styling */
  margin: 0 !important;
  padding: 0 !important;
}
.ace-twitter-tweet-wrap-inner {
}
.ace-twitter-tweet-text {
  display: inline;
}
.ace-twitter-tweet-time {
  display: inline;
  padding-left: 1em;
  color: #888;
}

.ace-twitter.is-scroll-x .ace-twitter-tweets_cont {
  margin-left: -30px;
}
.ace-twitter.is-scroll-x .ace-twitter-tweet-wrap-inner {
  margin-left: 30px;
}

.ace-twitter.is-scroll-y .ace-twitter-tweet-wrap-inner {
  margin-bottom: 10px;
}

.ace-twitter.type-featured {
  height: 60px;
  max-height: 60px;
  border: 1px solid #dbd8c5;
  background: #e8e5d1;
  margin-bottom: 20px;
}
.ace-twitter.type-featured .ace-twitter-wrap {
  height: 100%;
  background: url(/assets/twitterbird-bg2.png) no-repeat;
  background-position:  595px 38px;
}
.ace-twitter.type-featured .ace-twitter-wrap2 {
  padding: 9px 10px 10px 10px;
}

.ace-twitter.type-sidebar {
  border: 1px solid #dbd8c5;
  background: #e8e5d1;
}
.ace-twitter.type-sidebar .ace-twitter-wrap {
  height: 100%;
  background: url(/assets/twitterbird-bg1.png) no-repeat;
}
.ace-twitter.type-sidebar .ace-twitter-wrap2 {
  padding: 10px;
}
.ace-twitter.type-sidebar.has-num-3 {
  height: 250px;
  max-height: 250px;
  overflow: hidden;
}
.ace-twitter.type-sidebar.has-num-3 .ace-twitter-wrap {
  background-position:  252px 212px;
}

