
div.clear {
  clear: both;
  height: 0;
  width: auto;
  overflow: hidden;
}


.sidebysideimgs {
}
.sidebysideimgs img {
  display: block;
  background: #fff;
  border: 1px solid #d6d6d6;
  padding: 4px;
}
.sidebysideimgs img:nth-child(0) {
  float: left;
}
.sidebysideimgs img:nth-child(1) {
  float: right;
}
.grid-4 .sidebysideimgs img {
  /* grid-4: 622px */
  width: 300px;
}

.ace-instagram {
}
.ace-instagram-img
,.ace-instagram-img-img {
  display: block;
  margin: 0;
  padding: 0;
}

.ace-instagram.type-squares .ace-instagram-img {
  float: left;
}
.ace-instagram.type-med .ace-instagram-img
,.ace-instagram.type-med .ace-instagram-img-img {
  width: 124px;
  height: 124px;
}