
div.clear {
  clear: both;
  height: 0;
  width: auto;
  overflow: hidden;
}


.ace-instagram {
}
.ace-instagram-img
,.ace-instagram-img-img {
  display: block;
  margin: 0;
  padding: 0;
}

.ace-instagram.type-squares .ace-instagram-img {
  float: left;
}
.ace-instagram.type-med .ace-instagram-img
,.ace-instagram.type-med .ace-instagram-img-img {
  width: 124px;
  height: 124px;
}